dist: xenial
language: java

addons:
  sonarcloud:
    organization: "maddingo-github"

script:
  - jdk_switcher use openjdk11
  - MAVEN_OPTS="--add-modules ALL-SYSTEM" mvn clean verify
  - jdk_switcher use oraclejdk8
  - mvn clean install sonar:sonar
